{% extends '_layouts/cp' %}
{% set title = 'Page Statistics' %}

{% block content %}
    {% set stats = craft.pageStat.groupBy('urlHash').all() %}
    <div class="tableview">
        <table class="data fullwidth">
            <thead>
            <tr>
                <th>URL</th>
            </tr>
            </thead>
            <tbody>
            {% for stat in stats %}
                <tr>
                    <td>
                        <a href="{{ url('craft-page-stats/detail/' ~ stat.urlHash) }}">
                            {{ stat.url }}
                            {% if stat.query is not empty %}
                                ?{{ stat.query }}
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
